.footer {
    background-color: rgb(206, 206, 206);
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
}

.footer__link {
    display: flex;
    justify-content: center;
    gap: 20px;

    a {
        color: rgb(0, 4, 255);
        text-decoration: none;
    }
}

.footer__legals {
    opacity: 50%;
    font-size: 0.9em;
}

@media (min-width: 1400px) {
    .footer {
        align-items: flex-start;
    }

    .footer__link {
        gap: 10px;
    }
}