.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
    margin-bottom: 30px;
}

.main__article {
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    h2 {
        font-size: 1.5em;
    }

    .bxs-castle {
        font-size: 2em;
        color: rgb(0, 4, 255);
    }
}

.main__separate {
    margin: 20px 0px;
    border: 0.5px solid black;
    width: 75%;
    opacity: 50%;
}

.form {
    padding: 0px 10px;

    h3 {
        font-size: 1.5em;
    }
}

.article__form {
    box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.5);
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.name {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 10px;

    .form__firstname, .form__lastname {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

.coordonnees {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 10px;

    .form__email, .form__phone {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

.form__message {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 10px;
}

textarea {
    width: 100%;
    resize: none;
    height: 200px;
}

.form__submit {
    width: 100px;
    color: white;
    background-color: rgb(0, 4, 255);
    border: none;
    height: 25px;
}

.form__submit:hover {
    cursor: pointer;
}

.error_message {
    font-size: 10pt;
    font-style: italic;
    color: red;
}

label[data-error=false] {
    display : none;
}

@media (min-width: 740px) {
    .main__article {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
   }

   .article1, .article2, {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100px;
    padding: 20px;
   }

   .article3 {
    width: 100%;
    padding: 20px;
   }
}


@media (min-width: 1400px) {
    .article1, .article2, .article3 {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0px;
    }

    .form__submit {
        align-self: flex-start;
    }
}